<div class="page-header">
  <h3>Owner #<%= @owner.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Vessels</dt>
      <dd><%= @owner.vessels_id %></dd>

      <dt>Member</dt>
      <dd><%= @owner.member_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/owners" class="btn btn-primary">
        Back
      </a>
      <a href="/owners/<%= @owner.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_owner/<%= @owner.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
