<div class="page-header">
  <h3>Family #<%= @family.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Last name</dt>
      <dd><%= @family.last_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/families" class="btn btn-primary">
        Back
      </a>
      <a href="/families/<%= @family.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_family/<%= @family.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Family has many members -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Members
      </li>

      <% @family.members.each do |member| %>
        <li class="list-group-item">
          <a href="/members/<%= member.id %>">
            <%= member.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/members/<%= member.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/members/<%= member.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_member/<%= member.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
