<div class="page-header">
  <h3>Member #<%= @member.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @member.email %></dd>

      <dt>Password</dt>
      <dd><%= @member.password %></dd>

      <dt>Name</dt>
      <dd><%= @member.name %></dd>

      <dt>Family</dt>
      <dd><%= @member.family_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/members" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Member has many owners -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Owners
      </li>

      <% @member.owners.each do |owner| %>
        <li class="list-group-item">
          <a href="/owners/<%= owner.id %>">
            <%= owner.vessels_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/owners/<%= owner.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_member == owner.member %>
              <a href="/owners/<%= owner.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_owner/<%= owner.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Member has many vessels -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Vessels
      </li>

      <% @member.vessels.each do |vessel| %>
        <li class="list-group-item">
          <a href="/vessels/<%= vessel.id %>">
            <%= vessel.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/vessels/<%= vessel.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/vessels/<%= vessel.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_vessel/<%= vessel.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
